<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBXyLX6KNjdLQQmDDd3YCMbwOn5iDsaWjc</string>
	<key>GCM_SENDER_ID</key>
	<string>307353344258</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.ba3bs.ba3Bs</string>
	<key>PROJECT_ID</key>
	<string>ba3-bs</string>
	<key>STORAGE_BUCKET</key>
	<string>ba3-bs.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:307353344258:ios:c1a563e9afc6174ff78a1b</string>
</dict>
</plist>